.Loze{
    height:100vh;
    width:100vw;
    display: flex;
    background-size:cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.LozeTitle{
    height:300px;
    font-size: 3em;
    animation: 2s ease-in 1 forwards Loze;
}
.retry, .goMenu{
    height:100px;
    width: 100px;
    background-color: #203C3F;
    border:1px solid yellow;
    border-radius: 6px;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}
.retry:hover, .goMenu:hover{
    cursor: pointer;
}
.btn{
    display: flex;
    width:300px;
    justify-content: space-around;
}
@keyframes Loze{
    0% { font-size: 3em; }
    100% { font-size: 11em; }
}