.info{
    height:30%;
    width:50%;
    margin-bottom: 20px;
    text-align: center;
}
hr{
    height:2px;
    width: 100%;
    background-color: yellow;
    margin: 5px 0 5px 0;
}
.buttons{
    display: flex;
    position:relative;
    font-size: 26px;
    justify-content: space-between;
    width: 100%;
    color:rgb(155,156,167)
}
.btn:hover{
    cursor: pointer;
}
.text{
    padding-top:20px;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrows, .space{
    height:100px;
    width: 100px;
    margin: 0 3px 0 3px;
    background-repeat: no-repeat;
    background-size: contain;
}